<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="imports-css(title)">
		<title th:text="${title}">Choperia</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{~/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet"/>
	</head>
	<body>
		<div th:fragment="barramenu(pagina)">
			<div class="container">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="/">]
						<img src="@{~/images/logo-brahma.png}" width="30" height="30" class="d-inline-block align-top" />
					</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controller="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="textoNavbar">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item" th:classappend="${pagina == 'barris' ? 'active':''} ">
								<a class="nav-link" th:href="@{~/barris}">Barris</a>
							</li>
							
							<li class="nav-item" th:classappend="${pagina == 'ordensServico' ? 'active':''} ">
								<a class="nav-link" th:href="@{~/ordensServico}">Ordens de Serviço</a>
							</li>
							
							<li class="nav-item" th:classappend="${pagina == 'clientes' ? 'active':''} ">
								<a class="nav-link" th:href="@{~/clientes}">Cliente</a>
							</li>
							
							<li class="nav-item" th:classappend="${pagina == 'funcionarios' ? 'active':''} ">
								<a class="nav-link" th:href="@{~/funcionarios}">Funcionários</a>
							</li>
							
								<li class="nav-item" th:classappend="${pagina == 'equipamentos' ? 'active':''} ">
								<a class="nav-link" th:href="@{~/equipamentos}">Equipamentos</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		
		<div th:fragment="imports-js">
			<script th:src="@{~/webjars/jquery/3.5.1/jquery.min.js}"/>
			<script th:src="@{~/webjars/bootstrap/5.0.0/css/bootstrap.bundle.min.js}"/>
			
		</div> 
	</body>
</html>
